/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn {
    /* width: 150px;*/
    padding: 15px 35px;
    /*height: 64px;*/
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-bottom: 0px;

}

.section-title {
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/*  nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles*/

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .profile-pic {
    width: 500px;
}

.banner-greetings {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 85px;
    /*font-style: normal;*/
    font-weight: 700;
    /*line-height: normal;*/
    margin-top: 5px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0px;
}

/* main section styles*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section styles*/
.about {
    padding: 130px;
    background-color: #eeb891ab;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-info {
    text-align: center;
}

/* what i do type styles */

#what-i-do-description {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-style: normal;
}

/* Resume styles start from here  */

.resume-column-title {
    /* display: flex;
    justify-content: space-around; */
    /* align-items: center; */
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 60px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* or we can write these things like this 
.resume-item-institute, .resume-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
 } */

hr{
    margin: 30px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer style */

footer{
    display: flex;
    padding: 130px 200px;
    margin-top: 100px;
    background: #FFF8F3;
    
}